loguru
einops
calmsize
tabulate
plyfile
psutil
h5py
ninja
open3d
huggingface-hub>=0.24
diffusers>=0.30
transformers>=4.41
comet-ml>=3.44
wandb>=0.18
trimesh
point-cloud-utils
git+https://github.com/openai/CLIP.git
